.navigations {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    box-shadow: 0px -3px 5px #DDDDDD;
    background-color: white;
}

.navigations span {
    width: 19%;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    padding-top: 5px;
    font-size:200%;
}

.normaltext {
    font-size: medium;
}

.navigations span:hover {
    width: 19%;
    display: inline-block;
    background-color: #AAAAAA;
    animation-name: darken;
    animation-duration: 0.5s;
}

@keyframes darken {
    0% {
        background-color: white;
    }
    100% {
        background-color: #AAAAAA;
    }
}

.navigations span i {
    font-size: 50px;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

.bodymargin {
    margin: 8px;
}

.selected {
    color: #2ECC40;
}

.click {
    cursor: pointer;
    font-size:200%;
}

.click::selection {
    background-color: transparent !important;
}


#daynav {
    font-size: 24px !important;
}

#daynav::selection {
    background-color: transparent !important;
}

.card {
    width: 60%;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
}

.arrows{
    font-size:500%;
    background-color:lightgrey;
    border-radius: 50%;
}

.arrows::selection{

    animation-name: darken;
    animation-duration: 0.5s;
}
@keyframes darkenify {
    0%{
          background-color:lightgrey;
    }
    50%{
        background-color:grey;
    }
    0%{
        background-color:lightgrey;
    }
}